* {
  font-family: 'Roboto', sans-serif;
}

.heading {
  padding: 15px 15px 25px;
  text-align: center;
}

.heading_span {
  color: #0D6EFD
}

.export_col {
  padding: 20px 0 0 0;
}

.table_wrapper {
  height: 70vh;
  overflow-y: auto;
}

.form-check {
  padding: 10px 25px;
}

.options, .charts {
  margin-bottom: 35px;
}

.form-check-input {
  cursor: pointer;
}
