.export_col {
  padding: 20px 0 0 0;
}

.table_wrapper {
  height: 70vh;
  overflow-y: scroll;
}

.form-check {
  padding: 10px 25px;
}

.options, .charts {
  margin-bottom: 35px;
}

.form-check-input {
  cursor: pointer;
}